<style media="screen">
#last_name{
  border-bottom: 1px solid white;
}
.submit-button{
  background: #673BB7;
  border: 1px solid white
}
.submit-button:hover{
  background: white;
  color:#673BB7
}
.input-field{
  height: 50px;
  top: -20px;
}
.active{
  color:white;
}
</style>
<div class="nav-menu">
  <div class="container">
    <div class="row">
      <div class="col l6">
        <h4 class="logo">ChIXX</h4>
      </div>
      <div class="col l6">
      </div>
    </div>
  </div>
</div>
