<div class="container-div">
  <div class="-div">
     <div class="dashboard-header">
        <div class="container">
          <div class="row">
             <div class="holder col-lg-12">
               <h4 class="center-align">WELCOME EMMER TO tHE THE FOREST OF BRAIN SEARCHER</h4>
             </div>
          </div>
          <div class="row">
            <div class="display">
              <h3>E</h3>
            </div>

          </div>
        </div>
     </div>
  </div>
</div>
<div class="dash-con">
  <div class="container">
     <div class="row">
       <div class="col-lg-6">
           <div class="info">
             <h6><b>PLAYER INFORMATION</b></h6>
               <ul class="collection with-header">
                 <li class="collection-item">Emmer</li>
                 <li class="collection-item">emmer@gmail.com</li>
                 <li class="collection-item">Akure</li>
               </ul>

               </div>
             </div>

       <div class="col-lg-6">
         <div class="booking">
           <h6><b>BOOKING STARTED 20 MIN AGO</b></h6>
           <button type="button" class="btn btn-raised waves-effect green darken-3"><i class="material-icons"></i> ENROLL NOW!!</button>
         </div>
       </div>
     </div>
  </div>
</div>
