<style media="screen">

</style>
<div class="container">
    <div class="card-top">dr</div>
    <div class="card card-form">
      <div class="">
        <h1 class="title"><span><b>To Stand the Chance of finding trasure worth millions<b></span><br>
           <br><span style="text-transform:none" class="msg">Register Now...</span></h1>
      </div>

        <div class="col-md-12 col-sm-12">
            <form id="sign_in" action="/register" method="POST">
              <div class="input-group">
                <input type="text" class="form-control" name="firstname" placeholder="First Name" required autofocus>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" name="lastname" placeholder="Last Name" required autofocus>
              </div>
                <div class="input-group">
                  <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" name="email" placeholder="Example@gmail.com" required autofocus>
                </div>
                <div class="input-group">
                  <input type="number" class="form-control" name="phoneNo" placeholder="Phone Number" required autofocus>
                </div>
                <div class="input-field col s12">
                    <select name="state">
                      <option value="" disabled selected>Choose your option</option>
                      option>Outside Nigeria</option>
  							<option>Abuja-FCT</option>
  							<option>Abia</option>
  							<option>Adamawa</option>
  							<option>Akwa-Ibom</option>
  							<option>Anambra</option>
  							<option>Bauchi</option>
  							<option>Bayelsa</option>
  							<option>Benue</option>
  							<option>Borno</option>
  							<option>Cross River</option>
  							<option>Delta</option>
  							<option>Ebonyi</option>
  							<option>Edo</option>
  							<option>Ekiti</option>
  							<option>Enugu</option>
  							<option>Gombe</option>
  							<option>Imo</option>
  							<option>Jigawa</option>
  							<option>Kaduna</option>
  							<option>Kano</option>
  							<option>Katsina</option>
  							<option>Kebbi</option>
  							<option>Kogi</option>
  							<option>Kwara</option>
  							<option>Lagos</option>
  							<option>Nassarawa</option>
  							<option>Niger</option>
  							<option>Ogun</option>
  							<option>Ondo</option>
  							<option>Osun</option>
  							<option>Oyo</option>
  							<option>Plateau</option>
  							<option>Rivers</option>
  							<option>Sokoto</option>
  							<option>Taraba</option>
  							<option>Yobe</option>
  							<option>Zamfara</option>
                    </select>
                    <label>Materialize Select</label>
                  </div>

                <div class="input-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="input-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                </div>
                <div class="input-group">
                    <input type="hidden" class="form-control" name="csrf" placeholder="">
                </div>
                <div>
                    <div class="">
                        <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                        <label for="rememberme"><a href="#">Terms and Condition</a></label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-raised waves-effect purple darken-3">SIGN UP</button>
                    </div>
                    <div class="text-center"> <a href="forgot-password.html">Forgot Password?</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
