body{
  background: url('/images/image3b.jpg') no-repeat ;
  background-size: cover;
}
table{
  border-left: 2px solid #673BB7;
  margin: 10px;
}
.nav-menu{
  background: #673BB7;
  color:white;
  line-height:50px;
  //font-family:'Amatic SC',cursive;
  height: 50px;

}
.nav-menu .logo{
  margin-top: 10px;
  padding-left: 70px;

}
.nav-menu h4{
  font-size: 24px;
  font-weight: bolder;

}
.overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,0.1);

}
.card-form{
  width: 40%;
  margin:50px auto;
  border-bottom: 10px solid #673BB7
}
.card-form h1{
  font-size:16px;
  text-transform: uppercase;
  text-align: center;
}
.card-top{
  width: 40%;
  left:30%;
  height: 70px;
  margin:0px auto;
  position: absolute;
  background:#673BB7;
}
.dashboard-header{
  background: url("/images/dashboard.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
}

.dashboard-header h4{
  color:white;
  font-size: 16px;
  margin-top:100px
}
.dashboard-header .display{
  border-radius: 100%;
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: -90px;
  margin-left: 25%;
  color: white;
  font-weight: bold;
  background: #673BB7;
  text-align: center;
  z-index: 1;
  border: 5px solid white;
  box-shadow: 2px 2px 2px #ddd
}
.dashboard-header h3{
  margin-top: 10px;
}
.dash-con{
  color: lightgray;
  padding-left:50px;
  font-size: 16px;
}
.info{
  background:#fdfdfd;
  color: #222;
  position: relative;
  z-index: 0;
  text-align: center;
  padding-top: 50px;
}

.booking{
  background:#fdfdfd;
  color: #222;
  padding-top: 50px;
  text-align: center;
}


@media only screen and (max-width: 800px){
  .card-form{
    width: 100%;
  }
  .info,.booking,.dash-con{
    padding-left: 0px;
  }
  .dashboard-header .display{
    margin-left: 40%;
    bottom: -80px;
  }
  .nav-menu .logo{
    padding-left: 20px;

  }
}
